<% provide(:title, "Frames") %>
<div class="frames-page">
     <div class="row banner">
          <div class="col-md-4 col-md-push-8 col-sm-12 banner-img">
               <%= image_tag("framesBanner.jpg", :class => "img-responsive", id: "frames_banner")  %>
          </div>
          <div class="col-md-8 col-md-pull-4 col-sm-12 banner-desc">
               <h1>Framed photos with your choice of frame</h1>
               <p>Discover the highest quality of photo printing and framing options to give life to your special memories</p>
               <% if logged_in? %>
                    <%= button_to "Get Started", upload_path, method: :get, class: "btn btn-primary", id: "new-button" %>
               <% else %>
                    <%= button_to "Get Started", signup_path , method: :get, class: "btn btn-primary", id: "new-button" %>
               <% end %>
          </div>
     </div>
     <div class="row section-2">
          <div class="row">
               <div class="col-md-5 col-md-push-7 col-sm-12 section-2-desc">
                    <h1>Frame it your way</h1>
                    <p>Choose yourself frames to your taste that would suit your photos. 4 Frames, 5 finishes, and 10 sizes</p>
               </div>
               <div class="col-md-7 col-md-pull-5 col-sm-12" id="section-2-left-img">
                    <%= image_tag("framesBanner.jpg", :class => "img-responsive", id: "frames_banner")  %>
               </div>
          </div>
          <div class="row">
               <div class="col-md-offset-5 col-md-7" id="section-2-right-img">
                    <%= image_tag("framesBanner.jpg", :class => "img-responsive", id: "frames_banner")  %>
               </div>
          </div>
     </div>
     <div class="row diff-ways-big-div">
          <div class="col-md-12 center-block text-center">
               <h1>Different ways to frame your photos</h1>
          </div>
          <div class="row close-ups">
               <div class="col-md-offset-3 col-md-3 col-sm-offset-0 col-sm-6">
                    <%= image_tag("MattedFrameCloseUp.jpg", :class => "img-responsive col-sm-12 col-md-12 diff_ways")  %>
                    <h3 class="text-center frame-type-title">matted</h2>
               </div>
               <div class="col-md-3 col-sm-6">
                    <%= image_tag("CleanFrameCloseUp.jpg", :class => "img-responsive col-sm-12 col-md-12 diff_ways")  %>
                    <h3 class="text-center frame-type-title">standard</h2>
               </div>
          </div>

     </div>
     <div class="row style-desc-container">
          <div class="col-md-3 col-sm-12 desc-header">
               <h1>Matting</h1>
          </div>
          <div class="col-md-9 col-sm-12 style-desc-card">
               <p>Matting is a technique where the image is surrounded by decorative paper-based material. Matting acts to direct the eye towards to the center of the photo adding more focus.</p>
          </div>
          <div class="crop">
               <%= image_tag("mattedFrame.jpg", :class => "img-responsive col-md-4")  %>
          </div>
     </div>
     <div class="row style-desc-container">
          <div class="col-md-3 col-sm-12 desc-header">
               <h1>Standard</h1>
          </div>
          <div class="col-md-9 col-sm-12 style-desc-card">
               <p>With standard framing, there is no separator between the photo and the body of the frame. This style works perfectly well with contemporary photography.</p>
          </div>
          <div class="crop">
               <%= image_tag("mattedFrame.jpg", :class => "img-responsive col-md-4")  %>
          </div>
     </div>
</div>

