<% provide(:title, "Home") %>
	<div class="row home-uvp-container">
		<div class="col-md-9 col-sm-12 col-xs-12 marketing-image-container">
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 col-sm-6 col-xs-10 col-md-offset-8 col-sm-offset-3 col-xs-offset-1 text-center marketing-message">
			<p class="upper-title">You don't make memories to keep them on memory cards and clouds</p>
			<h3 id="slogan">The Easiest way to print photos in Egypt</h3>
			<p class="main-message"> &#9312; <br/>Upload photos <br/> &#9313;<br/> Choose sizes (and select frame style if framed) <br/> &#9314; <br/>Place order <br/><br/>And we deliver your photos to you wherever you are in Cairo in less than 7 working days.<br/>That Easy!</p>
			<%= render "shared/start-btn" %>
		</div>
	</div>
	<div class="row products-container">
		<div class="col-md-6 col-sm-12 col-xs-12 half">
			<div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-2 col-sm-offset-0 col-xs-offset-0 card row">
				<div class="card-image col-md-12 col-sm-12 col-xs-12">
					<%= image_tag("printed_photos_img.jpg")  %>
				</div>
				<div class="card-info col-md-12 col-md-offset-0 col-sm-offset-3 col-xs-offset-1 col-sm-6 col-xs-10 text-center">
					<h4>Printed Photos</h4>
					<p>High quality photo prints in the most popular sizes. Printing photos has never been that easy!</p>
					<%= render "shared/start-btn" %>
					<div class="card-price">
						From EGP4
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-6 col-sm-12 col-xs-12 half">
			<div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-2 col-sm-offset-0 col-xs-offset-0 card row">
				<div class="card-image col-md-12 col-sm-12 col-xs-12">
					<%= image_tag("marketing_frames_img.jpeg")  %>
				</div>
				<div class="card-info col-md-12 col-md-offset-0 col-sm-offset-3 col-xs-offset-1 col-sm-6 col-xs-10 text-center">
					<h4>Framed photos</h4>
					<p>Hassle-free. You choose the photo, and the frame's color and style. And you receive your memories ready to be hanged on your walls.</p>
					<%= render "shared/start-btn" %>
					<div class="card-price">
						From EGP95
					</div>
				</div>
			</div>
		</div>
	</div>
