<% provide(:title, "Home") %>
	<div class="row home-uvp-container">
		<div class="col-md-9 col-sm-12 col-xs-12 marketing-image-container">
		</div>
		<div class="col-md-3 col-sm-6 col-xs-10 col-md-offset-0 col-sm-offset-3 col-xs-offset-1 text-center marketing-message-arabic">
			<p class="upper-title">ذكرياتنا مكانها مش التليفون</p>
			<h2 id="slogan">أسهل طريقة لطباعة صورك في مصر</h2>
			<p class="main-message"> &#9312; <br/> حمل الصور<br/> &#9313; <br/> إختار أحجام الصور (أو أحجام وأشكال البراويز لو صور مبروزة)  <br/> &#9314; <br/> أكد الطلب <br/><br/>نوصل طلبك إليك أينما كنت في القاهرة في أقل من إسبوع <br/>ليت الحياه كلها بتلك السلاسة!</p>
			<% if logged_in? %>
				<%= button_to "إبدأ", upload_path, method: :get, class: "btn btn-primary" %>
			<% else %>
				<%= button_to "إبدأ", signup_path , method: :get, class: "btn btn-primary" %>
			<% end %>
		</div>
	</div>
	<div class="row products-container">
		<div class="col-md-6 col-sm-12 col-xs-12 half">
			<div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-2 col-sm-offset-0 col-xs-offset-0 card row">
				<div class="card-image col-md-12 col-sm-12 col-xs-12">
					<%= image_tag("printed_photos_img.jpg")  %>
				</div>
				<div class="card-info col-md-12 col-md-offset-0 col-sm-offset-3 col-xs-offset-1 col-sm-6 col-xs-10 text-center">
					<h3>صور مطبوعة</h3>
					<p>صور مطبوعة بأعلى جودة في أي حجم يخطر أو لا يخطر على بالك</p>
					<% if logged_in? %>
						<%= button_to "إبدأ", upload_path, method: :get, class: "btn btn-primary" %>
					<% else %>
						<%= button_to "إبدأ", signup_path , method: :get, class: "btn btn-primary" %>
					<% end %>
					<div class="card-price">
						بدايةً من 4 جنيه
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-6 col-sm-12 col-xs-12 half">
			<div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-2 col-sm-offset-0 col-xs-offset-0 card row">
				<div class="card-image col-md-12 col-sm-12 col-xs-12">
					<%= image_tag("marketing_frames_img.jpeg")  %>
				</div>
				<div class="card-info col-md-12 col-md-offset-0 col-sm-offset-3 col-xs-offset-1 col-sm-6 col-xs-10 text-center">
					<h3>صور مبروزة</h3>
					<p>إختر الصورة و لون و شكل البرواز. و ستصلك صورك مبروزة و جاهزة للتثبيت على الحائط</p>
					<% if logged_in? %>
						<%= button_to "إبدأ", upload_path, method: :get, class: "btn btn-primary" %>
					<% else %>
						<%= button_to "إبدأ", signup_path , method: :get, class: "btn btn-primary" %>
					<% end %>
					<div class="card-price">
						بدايةً من 95 جنيه
					</div>
				</div>
			</div>
		</div>
	</div>
