<% provide(:title, "Prints") %>
<div class="prints-page">
     <div class="row banner">
          <div class="col-md-7 col-sm-12 banner-img">
               <%= image_tag("prints-top-banner.jpg", :class => "img-responsive", id: "frames_banner")  %>
          </div>
          <div class="col-md-5 col-sm-12 banner-desc">
               <h1>Because every picture tells a story</h1>
               <p>Discover the highest quality of photo printing</p>
               <% if logged_in? %>
                    <%= button_to "Get Started", upload_path, method: :get, class: "btn btn-primary", id: "new-button" %>
               <% else %>
                    <%= button_to "Get Started", signup_path , method: :get, class: "btn btn-primary", id: "new-button" %>
               <% end %>
          </div>
     </div>

     <div class="banner-container">
     </div>
</div>

