<% provide(:title, "Log in") %>

<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<div class="text-center">
          	<h2><%= t("login.hello") %> </h2>
        	</div>
		<%= render 'shared/login' %>

	</div>
</div>
