<% provide(:title, "Reset Password") %>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="panel-heading"><h3><%= t("password_reset.title") %></h3></div>
		<div class="panel-body">
			<%= form_for(:password_reset, url:password_resets_path) do |f| %>
			<%= f.label :email, t("activerecord.attributes.user.email") %>
      		<%= f.email_field :email, class: 'form-control' %>

      		<%= f.submit t("password_reset.button"), class: "btn btn-primary" %>
			<% end %>
		</div>
	</div>
</div>
