<h1>Printpicsnow</h1>

<p>Hi <%= @user.name %>,</p>

<p>
Welcome to the Printpicsnow! Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(id: @user.activation_token,
                                                    email: @user.email) %>
