<h1>Order confirmation</h1>

<p>We have received your order, and it is now being prepared! </p>
<p>For any questions, please contact us anytime from 10am to 10pm on 01004100209</p>

<p>Thanks for using Printpicsnow :)</p>
