<div class="row box">
    <h4><%= t("address_box.header") %></h4>
    <%= simple_format(@cart.address.text_address) %>
    <%= t("activerecord.attributes.address.mobile_no") + @cart.address.mobile_no %>
</div>
