<div class="row box">

     <h4><%= "No account? No Problem" %></h4>
     <p>Quickly checkout as a guest</p>
     <%= form_for(@user, url: set_guest_email_path) do |f| %>
     <%= render 'shared/error-messages', object: f.object %>

     <%= f.email_field :email, class: 'form-control', placeholder: t("signup.email") %>

     <%= f.submit "Checkout", class: "btn btn-primary" %>
     <% end %>

</div>
