<div class="row box">
	<div class="row">
	    <div class="col-md-6 col-sm-6 col-xs-6 half"><%= t("checkout_box.total") %></div>
	    <div class="col-md-6 col-sm-6 col-xs-6 half text-right total_price"><%= @cart.total %><%= t("currencies.egp") %></div>
	</div>
	<%= order_form.submit t("checkout_box.proceed_to_checkout"), class: "btn btn-primary" %>
</div>
