<div class="row box">
	<div class="row">
	    <div class="col-md-6 col-sm-6 col-xs-6"><%= t("confirm_totals_box.items_number", quantity: @cart.order_items.where("quantity > 0").count )  %></div>
	    <div class="col-md-6 col-sm-6 col-xs-6 text-right"><%= @cart.total.to_s + t("currencies.egp") %></div>
	</div>
	<div class="row">
	    <div class="col-md-6 col-sm-6 col-xs-6"><%= t("confirm_totals_box.shipping_and_handling") %></div>
	    <div class="col-md-6 col-sm-6 col-xs-6 text-right">30.0 <%= t("currencies.egp") %></div>
	</div>

	<div class="row">
	    <div class="col-md-6 col-sm-6 col-xs-6 half"><%= t("confirm_totals_box.total") %></div>
	    <div class="col-md-6 col-sm-6 col-xs-6 half text-right"><%= (@cart.total + 30).to_s + t("currencies.egp") %></div>
	</div>
	<%= order_form.submit t("confirm_totals_box.place_order_button"), class: "btn btn-primary" %>
</div>
