<%# <%= f.label :name %>
<%= f.text_field :name, :class => "form-control", placeholder: t("signup.name") %>

<%# <%= f.label :email %>
<%= f.email_field :email, :class => "form-control", placeholder: t("signup.email") %>

<%# <%= f.label :password %>
<%= f.password_field :password, :class => "form-control", placeholder: t("signup.password") %>

<%# <%= f.label :password_confirmation, "Confirmation" %>
<%= f.password_field :password_confirmation, :class => "form-control", placeholder: t("signup.password_confirmation") %>
