<% provide(:title, 'Activate account') %>


<div class="row">
  <div class="col-md-4 col-md-offset-4">
        <div class="text-center">
          <h2> <%= t("activate.activate_page_title") %></h2>
          <p class="bigger-messages"><%= t("activate.check_mail_msg") %></p>
        </div>
  </div>
</div>
