<% provide(:title, "Edit user") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3 well">
    <div class="panel-body">
      <h2><%= t("update_account.update_account_title") %></h2>
      <%= form_for(@user) do |f| %>
        <%= render 'shared/error-messages', object: f.object %>
        <%= render 'form', f: f %>
        <%= f.submit t("update_account.save_changes_button"), class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
