<% provide(:title, 'Sign up') %>


<div class="row">
  <div class="col-md-4 col-md-offset-4">
        <div class="text-center">
          <h2><%= t("signup.sign_up") %></h2>
          <p><%= t("signup.form_message") %></p>
        </div>
        <%= form_for(@user) do |f| %>
          <%= render 'shared/error-messages', object: f.object %>
          <%= render 'form', f: f %>

          <%= f.submit t("signup.create_account"), class: "btn btn-primary" %>
          <p class="help-block">
            <%= t("signup.have_account_q") %><%= link_to t("signup.login_now"), login_path %>
          </p>
        <% end %>
  </div>
</div>
