  <% if Rails.env.production? %>
    <% content_for :head do %>
      <!-- Event snippet for Purchase conversion page -->
      <script>
        gtag('event', 'conversion', {
            'send_to': 'AW-434702771/VupHCK-L9_YBELOTpM8B',
            'transaction_id': ''
        });
      </script>
    <% end %>
  <% end %>
