
<%= form_for(:session, url:login_path) do |f| %>
	<%= f.email_field :email, class: 'form-control', placeholder: t("login.email") %>

	<%= f.password_field :password, class: 'form-control', placeholder: t("login.password") %>

	<%= f.submit t("login.login"), class: "btn btn-primary" %>
<% end %>
<p class="help-block">
	<%= t("login.forgot_password") %>
	<%= link_to t("login.reset_password"), new_password_reset_path %>
</p>

