<% if logged_in? %>
     <%= button_to "Get Started", upload_path, method: :get, class: "btn btn-primary" %>
<% else %>
     <%= button_to "Get Started", users_path , method: :post, class: "btn btn-primary" %>
<% end %>
