<%= form_for @cart, url: checkout_path do |order_form| %>
     <div class="col-lg-8 col-md-12 col-sm-12">
          <div id="cart_items">
               <%= order_form.fields_for :order_items, @cart.order_items.where("quantity > 0") do |order_item| %>
                    <%= render 'cart_row', order_item_form: order_item %>
               <% end %>
          </div>
     </div>
     <div class="clearfix hidden-lg"></div>
     <div class="col-lg-4 col-md-12 col-sm-12 box-div">
          <%= render 'orders/boxes/checkout-box', cart: @cart, order_form: order_form %>
     </div>
<% end %>
