<% order_item = order_item_form.object %>
<div class="photo-row row">
	<div class="col-md-7 col-sm-7 col-xs-7">
		<%= order_item_form.hidden_field :id %>
		<% frame_class = frame_css_class(order_item.frame) %>
		<% if order_item.photo.thumbnail_path.present? %>
      		<%= image_tag(order_item.photo.thumbnail_path, :class => "#{frame_class} cart_photo") %>
        	<% else %>
      		<%= image_tag(order_item.photo.path, {class: "#{frame_class} framed_photo_original cart_photo"}) %>
        	<% end %>
	</div>
	<div class="form-group col-md-3 col-sm-3 col-xs-3">
		<% if order_item.frame %>
			<% frame_size = order_item.frame_size ? order_item.frame_size.size : order_item.photo_size.size %>
			<p> <%= t("cart_page.frame_description", frame_size: order_item.frame_size.size) %> </p>
		<% else %>
			<p><%= t("cart_page.printing_description", photo_size: order_item.photo_size.size) %></p>
		<% end %>
		<%= order_item_form.number_field :quantity, class: "form-control", min: 0, data: { remote: true, method: :patch, url: update_quantity_path(order_item_id: order_item.id) } %>
		<%= link_to t('cart_page.remove'), remove_item_path(:order_item_id => order_item.id), remote: true, method: :patch, class: "remove_fields" %>
	</div>
	<div class="form-group col-md-2 col-sm-2 col-xs-2 my-color text-right currency" <%=  "id=total_for_#{order_item.id}" %>>
		<%= order_item.selling_price * order_item.quantity %> <%= t("currencies.egp") %>
	</div>
</div>


<script>
$(function () {
	$('a.remove_fields').click( function() {
		$(this).prev('input[type=number]').val('0');
		$(this).closest('div.photo-row').hide();
	});
});
</script>
