<%= f.fields_for :order_items, order.order_items.build do |order_item_fields| %>
  <div class="photo-row row choose-size-and-frame" id="photo-<%= photo.id %>">
    <div class="col-md-3 col-sm-12 col-xs-12 the_frame">
      <%= order_item_fields.hidden_field :photo_id, value: photo.id %>
      	<div class="photo_itself">
        <% if photo.thumbnail_path.present? %>
      		<%= image_tag(photo.thumbnail_path, {class: "framed_photo", id: "framed_photo#{photo.id}"}) %>
        <% else %>
      		<%= image_tag(photo.path, {class: " framed_photo framed_photo_original", id: "framed_photo#{photo.id}"}) %>
        <% end%>


  		</div>
    </div>

    <div class="form-group col-md-5 col-sm-12 col-xs-12 frame-list-wrapper">
      <div class="frame-list">
        <label><%= t("choose_sizes.choose_frame") %></label><br/>
          <%= order_item_fields.label :frame_id, nil, class:'frames' do %>
            <%= order_item_fields.radio_button :frame_id, "", { checked: true, id: "#noframe_for_#{photo.id}_radio" } %>
            <%= image_tag("NoFrame.svg", {id: "#noframe_for_#{photo.id}_img", onclick: 'whenClicked(this)'})  %>
          <% end %>

        <% @frames.each do |frame| %>
          <%= order_item_fields.label :frame_id, nil, class:'frames' do %>
            <%= order_item_fields.radio_button :frame_id, frame.id, { id: "#{frame.name}_for_#{photo.id}_radio" }%>
            <%= image_tag("Frames/" + frame.name + '.png', {id: "#{frame.name}_for_#{photo.id}_img", onclick: 'whenClicked(this)'})  %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="form-group col-md-2 col-sm-6 col-xs-6">
      <label for="sel1"><%= t("choose_sizes.select_size") %></label>
      <%= order_item_fields.select :item_size_id, grouped_options_for_select(photo_without_frames_grouped_options), {}, {class: "form form-group form-control", id: "select_size_for_#{photo.id}" } %>
      <%# <a href="#sizeGuide" data-toggle="modal" data-target="#sizeGuide">Size help?</a> %>
    </div>


    <div class="form-group col-md-2 col-sm-6 col-xs-6">
      <label><%= t("choose_sizes.quantity") %></label>
      <%= order_item_fields.text_field :quantity, :class => "form-control quantity-in-cart-row", type: "number", min: 0, value: 1 %>
    </div>
  </div>
<% end %>

 <%= render 'size_guide_modal' %>

<script>
function whenClicked(frame) {
  frameId = frame.id;
  var buttonId = frameId.replace('img','radio');
  var button = document.getElementById(buttonId);
  button.click();
}

$('input[type=radio]').on('click change',function() {
    var radioButtonId = this.id;

    // The radio button id is of the format frameName_for_photoId
    radioButtonParts = radioButtonId.split("_");
    photoId = radioButtonParts[2];
    var photoToBeFramedId = "framed_photo" + photoId;
    var photoToBeFramed = document.getElementById(photoToBeFramedId);

    var frames = <%= raw @frames.to_json %>;

    removeOldFrameClasses(photoToBeFramed);

    frameId = $(this).val();
    if (frameId) {
      frame = getFrameFromFrameId(frames, frameId);
      addNewFrameClassToImage(photoToBeFramed, frame.name);
    } else {
      frame = null;
    }

    dropDownItems = prepareOptGroups(photoId, frame);

    function getFrameFromFrameId(frames, frameId) {
      if(!frameId) {
        return;
      }
      i = 0
      frame = null;
      while(!frame || i < frames.length) {
        currentFrameInLoop = frames[i];
        if(currentFrameInLoop.id == frameId) {
          frame = currentFrameInLoop;
        }
        i++;
      }

      return frame;
    }

    //Remove old classes from img element
    function removeOldFrameClasses(img) {
      img.classList.remove("bold_frame");
      img.classList.remove("clean_frame");
      img.classList.remove("classic_frame");
      img.classList.remove("ever_frame");
    }

    function addNewFrameClassToImage(img, frameName) {
      if(frameName == "Bold"){
        img.classList.add("bold_frame");
      }
      else if(frameName== "Clean"){
        img.classList.add("clean_frame");
      }
      else if(frameName == "Classic"){
        img.classList.add("classic_frame");
      }
      else if(frameName == "Ever"){
        img.classList.add("ever_frame");
      }
    }

    function selectFirstOptionInOptGroup(OptgroupElement) {
      var options = OptgroupElement.getElementsByTagName("option");
      options[0].selected = true;
    }

    function prepareOptGroups(photoId, frame) {
      dropDownIdForCurrentImage = "select_size_for_" + photoId;
      dropDownElement = document.getElementById(dropDownIdForCurrentImage);
      var optGroups = dropDownElement.getElementsByTagName("optgroup");
      for (var i = 0; i < optGroups.length; i++) {
        optGroups[i].remove();
      }
      if (!frame) {
        var dropDownItems = <%= raw photo_without_frames_grouped_options.to_json %>;
      } else if(frame.is_matted) {
        var dropDownItems = <%= raw matted_framed_photos_grouped_options.to_json %>;
      } else {
        var dropDownItems = <%= raw non_matted_framed_photo_grouped_options.to_json %>;
      }

      $.each(dropDownItems, function(groupName, options) {
        var $optgroup = $("<optgroup>", {label: groupName});
        $optgroup.appendTo(dropDownElement);

        $.each(options, function(j, option) {
          var $option = $("<option>", {text: option[0], value: option[1]});
          $option.appendTo($optgroup);
        });
      });

      return dropDownItems;
    }

});
</script>
