<tr>
     <td> <%= link_to order.id, backend_order_path(order) %> </td>
     <td> <%= order.user.present? ? order.user.name : " " %> </td>
     <td> <%= order.address.present? ? order.address.mobile_no : " "%> </td>
     <td> <%= order.address.present? ? order.address.text_address : " No address"%> </td>
     <td> <%= order.ordered_at ? order.ordered_at.in_time_zone('Cairo') : "updated not ordered " + order.updated_at.in_time_zone('Cairo').to_s %> </td>
     <td> <%= order.total %> </td>
     <td id='<%= "status_for_order_#{order.id}" %>'> <%= order.status_word %> </td>
     <td>
          <% if order.status < 2 %>
               <%= form_with(model: order, url: change_status_path, local: false) do |order_form| %>
                    <%= order_form.hidden_field :order_id, value:order.id  %>
                    <%= order_form.hidden_field :status, value:2 %>
                    <%= order_form.submit "Mark as confirmed", class: "btn btn-success" %>
               <% end %>
          <% end %>
          <% if order.status < 3 %>
               <%= form_with(model: order, url: change_status_path, local: false) do |order_form| %>
                    <%= order_form.hidden_field :order_id, value:order.id  %>
                    <%= order_form.hidden_field :status, value: 3 %>
                    <%= order_form.submit "Mark as deliverd", class: "btn btn-primary" %>
               <% end %>
          <% end %>
          <% if order.status < 4 %>
               <%= form_with(model: order, url: change_status_path, local: false) do |order_form| %>
                    <%= order_form.hidden_field :order_id, value:order.id  %>
                    <%= order_form.hidden_field :status, value: 4 %>
                    <%= order_form.submit "Mark as canceled", class: "btn btn-danger" %>
               <% end %>
          <% end %>

          <%= link_to 'Send Printing mail', send_printing_email_path(:order_id => order.id) %>
     </td>
</tr>
