<%

frame_1 = { :name => "13x18", :photo => "13x15_example.jpg"};
frame_2 = { :name => "15x21", :photo => "15x18_example.jpg"};
frame_3 = { :name => "20x25", :photo => "20x30_example.jpg"};

examples_array = [frame_1,frame_2,frame_3];

%>

<div id="sizeGuide" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content size-guide-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Prints and frames sizes</h4>
      </div>
      <div class="modal-body">
        <div class="scrolling-wrapper">



        <% examples_array.each do |frame_example|%>
          <div class="photo-example">
              <%= image_tag(frame_example[:photo])  %>
              <div class="description">
				        <%= frame_example[:name] %>
			        </div>
          </div>
        <% end %>


        </div>
      </div>
    </div>

  </div>
</div>
