<% provide(:title, "Order") %>

<h3>Order (<%= @order.order_items.where("quantity > 0").count %>)</h3>
<div class="row">
  <div class="col-md-8">
    <% if @order.order_items.any? %>
          <% @order.order_items.where("quantity > 0").each do |order_item| %>
               <div class="photo-row row">
                    <div class="col-md-4 col-sm-7 col-xs-7">
                         <% frame_class = frame_css_class(order_item.frame) %>
                         <% if order_item.photo.thumbnail_path.present? %>
                              <%= image_tag(order_item.photo.thumbnail_path, :class => "#{frame_class} cart_photo") %>
                         <% else %>
                              <%= image_tag(order_item.photo.path, {class: "#{frame_class} framed_photo_original cart_photo"}) %>
                         <% end %>
                    </div>
                    <div class="form-group col-md-4 col-sm-3 col-xs-3">
                         <% if order_item.frame %>
			               <% frame_size = order_item.frame_size ? order_item.frame_size.size : order_item.photo_size.size %>
			          <p> <%= frame_size + " high quality frame"%> </p>
                         <% else %>
                              <p>Prints <%= order_item.photo_size.size %> high quality photo</p>
                         <% end %>
                         <p><%= "Selected frame: #{order_item.frame.name}" if order_item.frame %> </p>
                         <%= link_to 'Download original image', order_item.photo.path, download: "Photo_#{order_item.id}" %>
                    </div>
                    <div class="form-group col-md-4 col-sm-2 col-xs-2 my-color text-right currency">
                         <%= order_item.selling_price * order_item.quantity %> EGP
                    </div>
               </div>
          <% end %>
    <% end %>
  </div>

</div>

