<% provide(:title, "Dashboard") %>

<% if @orders.any? %>
<h3>Orders (<%= @orders.count %>)</h3>

     <%= form_for backend_dashboard_path, method: :get do |filter_form| %>
          <%= filter_form.label :status do %>
               <%= check_box_tag("status[]", 1) %>Ordered
          <% end %>
          <%= filter_form.label :status do %>
               <%= check_box_tag("status[]", 2) %>Confirmed
          <% end %>
          <%= filter_form.label :status do %>
               <%= check_box_tag("status[]", 3) %>Delivered
          <% end %>
          <%= filter_form.label :status do %>
               <%= check_box_tag("status[]", 4) %>Canceled
          <% end %>

          <%= filter_form.submit "Filter", class: "btn btn-primary" %>
     <% end %>
     <table class="dashboard-orders">
          <tr>
               <th>Order Id</th>
               <th>Customer name</th>
               <th>Phone no.</th>
               <th>Address</th>
               <th>Ordered at</th>
               <th>Total before shipping</th>
               <th>Status</th>
               <th>Take action</th>
          </tr>
          <%= render @orders.order(created_at: :desc) %>
     </table>
<% end %>


