<% provide(:title, "Shopping Cart") %>

<div class="container cart-container">
  <% if @cart && @cart.order_items.where("quantity > 0").any? %>
    <h3><%= t('cart_page.shopping_cart_header') %></h3>
    <div class="row">
      <%= render 'orders/cart-form' %>
    </div>
  <% else %>
    <h2><%= t('cart_page.cart_is_empty') %></h2>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4" id="Upload_photos_div_in_cart">
        <%= button_to t("cart_page.upload_button"), upload_path, method: :get, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>

