<% provide(:title, "Checkout") %>


<div class="checkout-guest-page container">
  <h3>Checkout</h3>
  <p>Select your preferred checkout method</p>
  <div class="row box-div">

    <div class="col-lg-6 col-md-6 col-md-push-6 col-sm-12">
      <%= render 'orders/boxes/checkout-guest' %>
    </div>

    <div class="col-lg-6 col-md-6 col-md-pull-6 col-sm-12">
      <%= render 'orders/boxes/guest-login' %>
    </div>

  </div>
</div>
