<% provide(:title, "Choose sizes") %>
<%= form_for @order, url: orders_add_to_cart_path do |order_form| %>
  <% if @uploaded_photos.any? %>
  <div class="container">
    <h3><%= t("choose_sizes.choose_sizes_title", number_of_photos: @uploaded_photos.count )  %></h3>
    <div class="row">
      <div class="col-sm-12 col-md-10 row choose-sizes-table">
        <% @uploaded_photos.each do |photo| %>
            <%= render 'choose_photo_size', photo: photo, f: order_form, order: @order %>
          <% end %>
      <% end %>
      </div>
    </div>
    <div id="add-to-cart-wrapper" class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
      <%= order_form.submit t("buttons.add_to_cart"), class: "btn btn-primary col-md-5" %>
      <% end %>
    </div>
  </div>

