<% provide(:title, "Choose Address") %>

<div class="container">


  <div class="row choose-address-upper-bar">
    <h3><%= t("choose_address.shipping_address") %></h3>
  </div>

  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-9 choose-address-upper-bar">
    </div>
    <div class="col-md-3 create-new-address-button">
      <%= button_to t("choose_address.create_new_address"), new_address_path, method: :get, class: "btn create-address" %>
    </div>
  </div>



  <%= form_for @order, url: set_address_path do |order_form| %>
    <div class="row">
        <% if @addresses.any? %>
          <% @addresses.each do |address| %>
            <%= order_form.hidden_field :address_id, value: address.id %>
            <div class="col-sm-10 col-md-4" id="choose_address_box">
              <div class="box">
                <%= address.name ? simple_format(address.name) : simple_format(address.user.name) %>
                <%= simple_format(address.text_address) %>
                <%= t("activerecord.attributes.address.mobile_no") + ": "+ address.mobile_no %>
                <%= order_form.submit t("choose_address.choose_this"), class: "btn btn-primary" %>
              </div>
            </div>
            <% end %>
        <% end %>
    </div>
  <% end %>
</div>
