<% provide(:title, "Place order") %>
<div class="container cart-container">
	<h3><%= t("confirm.confirm_page_title") %></h3>
	<div class="row">
	<div class="col-lg-8 col-md-12">
		<%= form_for @cart, url: place_order_path do |order_form| %>
	<% if @cart.order_items.any? %>
		<% @cart.order_items.where("quantity > 0").each do |order_item| %>
			<div class="photo-row row">
					<div class="col-md-4 col-sm-7 col-xs-7">
						<% frame_class = frame_css_class(order_item.frame) %>
						<% if order_item.photo.thumbnail_path.present? %>
      						<%= image_tag(order_item.photo.thumbnail_path, :class => "#{frame_class} cart_photo") %>
						<% else %>
							<%= image_tag(order_item.photo.path, {class: "#{frame_class} framed_photo_original cart_photo"}) %>
						<% end %>
					</div>
					<div class="form-group col-md-4 col-sm-3 col-xs-3">
						<% if order_item.frame %>
							<% frame_size = order_item.frame_size ? order_item.frame_size.size : order_item.photo_size.size %>
							<p><%= t("cart_page.frame_description", frame_size: order_item.frame_size.size) %> </p>
						<% else %>
							<p><%= t("cart_page.printing_description", photo_size: order_item.photo_size.size) %></p>
						<% end %>
					</div>
					<div class="form-group col-md-4 col-sm-2 col-xs-2 my-color text-right currency">
						<%= order_item.selling_price * order_item.quantity %> <%= t("currencies.egp") %>
					</div>
				</div>
		<% end %>
	<% end %>
	</div>
	<div class="clearfix hidden-lg"></div>
	<div class="col-lg-4 col-md-12 col-sm-12 box-div">
		<%= render 'orders/boxes/address-box', cart: @cart %>
		<%= render 'orders/boxes/confirm-totals', cart: @cart, order_form: order_form %>
		<% end %>
	</div>
	</div>
</div>
