<% provide(:title, "Success") %>
<%= render 'shared/conversion-tag'%>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
        <div class="text-center">
          <%= image_tag("correct_icon.png", :class => "correct_icon")  %>
          <h2><%= @order.user.name %>, شكراً على طلبك!</h2>

          <div style="font-size: 16px; margin-top: 30px;"><p>تم إرسال ايميل تأكيد على عنوان  <%= @order.user.email %> <br/>
          رقم الطلب:  <%= @order.order_number %></div>

          <div style="font-size:16px; margin-top: 15px;"><p><span style="font-weight: bold">واجهك مشكلة أو عندك سؤال أو إقتراح؟ </span>كلمنا في أي وقت على <a>01004100209</a></p></div>
        </div>

  </div>
</div>
