<% provide(:title, "Success") %>
<%= render 'shared/conversion-tag'%>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
        <div class="text-center">
          <%= image_tag("correct_icon.png", :class => "correct_icon")  %>
          <h3><%= @order.user.name + "," if @order.user.name?%> Thanks for your order!</h3>

          <div style="margin-top: 30px;"><p>A confirmation email has been sent to <%= @order.user.email %> <br/>
          Order no.#<%= @order.order_number %></div>

          <div style="margin-top: 15px;"><p><span style="font-weight: bold">Faced problems, or have a question or suggestion?</span> Call or text us now on <a>+201004100209</a></p></div>
        </div>

  </div>
</div>
