<% provide(:title, 'Unacceptable Error') %>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
        <div class="text-center">
          <h2>Sorry we have experienced a problem.</h2>
          <div style="font-size: 16px; margin-top: 30px;"><p>We're very sorry but something went wrong. Out tech team will look into this right away to make sure that the problem gets fixed</p></div>
          <div style="font-size:16px; margin-top: 15px;"><p><span style="font-weight: bold">Faced problems, or have a question or suggestion?</span> Call or text us now on <a>+201004100209</a></p></div>
        </div>
  </div>
</div>
