<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
     <h1>Photos for printing</h1>
      <% @links.each do |index, order_item| %>
        <% extension = File.extname(order_item.photo.name)%>
        <%= link_to index+extension, order_item.photo.download_url(index + extension) %>
        <br>
      <% end %>
</html>
