<% provide(:title, 'Add Address') %>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
	<div class="text-center">
		<h2><%= t("create_address.add_address") %></h2>
	</div>
	<%= form_for(@address) do |f| %>
		<%= render 'shared/error-messages', object: f.object %>

    		<%= f.text_field :name, :class => "form-control", placeholder: t("create_address.name") %>

		<%= f.select :area_id, options_from_collection_for_select(Area.all, 'id', 'name'), {:prompt => t("create_address.select_area")}, {class: "form form-group form-control"} %>

    		<%= f.text_field :street_name, :class => "form-control", placeholder: t("create_address.street_name") %>

    		<%= f.text_field :building_no, :class => "form-control", placeholder: t("create_address.building_no") %>

    		<%= f.telephone_field :mobile_no, :class => "form-control", placeholder: t("create_address.mobile_no") %>

    		<%= f.text_field :flat, :class => "form-control", placeholder: t("create_address.flat") %>

    		<%= f.text_field :floor, :class => "form-control", placeholder: t("create_address.floor") %>

    		<%= f.text_field :landmark, :class => "form-control", placeholder: t("create_address.landmark") %>

        <%= f.submit t("create_address.deliver_to_this"), class: "btn btn-primary" %>
     <% end %>
     </div>
</div>`
