<% provide(:title, "Upload file") %>
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Uppy</title>
    <link rel="stylesheet" href="https://releases.transloadit.com/uppy/v1.24.0/uppy.min.css">
  </head>
  <body>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center" id="upload_message">
        <h3><%= t('upload.lets_start') %><br>
        <%= t('upload.upload_photos_statment') %></h3>
      </div>
      <div class="col-md-8 col-md-offset-2">
        <div id="drag-drop-area">
        </div>
      </div>
      <%= form_for @file, html: { class: "directUpload", id: "myForm", name: "formName"}  do |f| %>
            <%= render 'shared/error-messages', object: f.object %>
      <% end %>

      <% if I18n.locale != :en
          uppyLocale =  "Uppy.locales.ar_SA"
        else
          uppyLocale = "Uppy.locales.en_US"
      end  %>
    </div>
    <script src="https://releases.transloadit.com/uppy/v1.24.0/uppy.min.js"></script>
    <script src="https://releases.transloadit.com/uppy/locales/v1.17.0/ar_SA.min.js"></script>
    <script>

      var myLocale = <%= uppyLocale %>
      const AwsS3Multipart = Uppy.AwsS3Multipart
      var photos = [];
      var uppy = Uppy.Core()
          .use(Uppy.Dashboard, {
              inline: true,
              target: '#drag-drop-area',
              locale: myLocale
          })
          .use(Uppy.AwsS3Multipart, {
              companionUrl: '/',
          })

      uppy.on('complete', result => {
          if (result.successful.length > 0) {
              result.successful.forEach((element) => {
                  photos.push({
                      name: element.name,
                      path: element.uploadURL
                  });
              });
          };

          console.log('Upload complete! We’ve uploaded these files:', photos);

          var json_photos = JSON.stringify(photos);

          var form = document.forms["formName"];
          var input = document.createElement('input');
          input.type = 'hidden';
          input.name = 'photos';
          input.value = json_photos;

          form.appendChild(input);
          form.action = '/photos/add_photos?locale=<%= params[:locale] %>'
          form.submit();

      });
    </script>
    </div>
  </body>
</html>
