@import "colors";

.btn-primary {
     background-color: $electric-blue;
     font-size: 14px;
     font-family: Poppins;
     font-weight: bold;
     box-shadow: 0rem 0.4rem 1.2rem -0.2rem rgba(0,0,0,0.2);
     color: #F8F5F4;
     &:hover {
       background-color: $faded-blue;
       border-color: $faded-blue;
       color: #fff;
     }
}
#new-button {
     color: white;
     background: $button-green;
     border: 0;
     border-radius: 0;
     width: 200px;
}
