@import "components/colors";

body.ar{
     font-family: 'Cairo';
     font-size: 13px;
     .card-info h3 {
          font-family: 'Rakkas', cursive;
     }
     p, h2, h3, h4, .half, .currency, .navbar-inverse .navbar-nav li a, #upload_message h3, .btn-primary, .card-price {
          font-family: "Cairo";
     }
     .navbar-inverse .navbar-nav li a.glyphicon {
          font-family: 'Glyphicons Halflings';
     }
     .glyphicon .glyphicon-shopping-cart {
          font-family: Poppins;
     }
     div, p, input, h2, h3, h4, a.dropdown, .panel-body, .products-container, option, select {
          direction: rtl;
     }
     h2 {
          margin-bottom: 20px;
     }
     .cart-container, .choose-size-and-frame {
          .col-lg-8, .col-md-8, .col-md-7, .col-md-5, .col-md-3, .col-md-6, .col-md-4, .col-md-2 {
               float: right;
          }
     }
     .choose-address-upper-bar,.choose-sizes-table {
          float: right;
     }
     .text-right {
          text-align: left;
     }
     #logo, #copyright {
          direction: ltr;
     }
     ul.dropdown-menu li a {
          text-align: right;
     }
     .form-control {
          font-size: 13px;
     }
     .bigger-messages {
          font-size: 16px;
     }

}

.marketing-message-arabic {
     padding: 40px;
     background-color: #d9edf2;
     margin-right: -30px;
     h4 {
          font-family: 'Rakkas', cursive;
     }
     h2#slogan{
          font-family: 'Rakkas', cursive;
          margin-bottom: 20px;
     }
     p{
          font-family: "Cairo";

     }
     p.main-message {
          font-size: 15px;
          line-height: 1.5;
          color: $dark-blue;
          margin-bottom: 30px;
     }
     p.upper-title {
          font-size: 18px;
          font-weight: 700;
     }
     @media(max-width: 1000px) {
          margin-top: -100px;
     }
     @media(min-width: 1200px) {
          margin-left: -100px;
     }
}
