.frame-img {
  padding:0;
}
#cart_items {
	list-style-type: none;
	padding-left:0;
	margin-right: 20px;
}
.currency {
  font-family: Poppins;
  font-weight: bold;
	font-size: 15px;
}

/* HIDE RADIO */
[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
  width: 60px;
  height: 60px;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  background-image: linear-gradient(0deg,rgba(255,0,149,.25),rgba(255,0,149,0));
}

@media (max-width: 768px) {
  .cart_photo {
    max-width: 150px;
    height: auto;
  }
  [type=radio] + img {
    width: 60px;
    height: 60px;
  }
  .framed_photo {
    display: block;
    margin: auto;
  }
  // .framed_photo_original {
  //   max-width: 120px;
  //   max-height: 120px;
  // }
}
.frame-list-wrapper {
  text-align: center;
}

.framed_photo_original {
  max-width: 180px;
  max-height: 180px;
}

.frame-list {
  display: inline-block;
  @media(max-width: 768px) {
    padding: 30px;
    padding-bottom: 0;
  }
}

#add-to-cart-wrapper {
  padding: 30px;
}

