.checkout-guest-page {
     .box-div {
          @media (min-width: 1000px) {
               padding:30px;
               padding-left:10px;
               .col-lg-6 {
                    .box {
                         margin-right: 20px;
                    }
               }

          }
          @media(max-width: 1000px) {
               padding: 10px;
          }
          .box {
               p {
                    font-size: 12px;
                    margin-bottom: 20px;
               }
          }
     }
}
