@import "bootstrap-sprockets";
@import "bootstrap";
@import "components/colors";
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700;900');
@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;700&display=swap');

/* header */
html {
  position: relative;
  min-height: 100%;
  font-family: Poppins;
  direction: ltr;
  input {
    direction: ltr;
  }
}
body {
  margin-bottom: 100px;
  font-family: Poppins;
  color: $dark-blue;
  padding-top: 70px;
  background-color: #F8F5F4;
}


@media (max-width: 768px) {
    .box-div {
      padding: 40px;
    }
}

.my-color {
  color: $dark-blue;
}
h1, h2, h3, h4 {
  color: $dark-blue;
  font-family: Poppins;
  font-weight: bold;
}
section {
  overflow: auto;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.box {
  background-color: #FFFFFF;
  padding: 12px;
  padding-bottom: 20px;
  box-shadow: 0rem 0.4rem 1.2rem -0.2rem rgba(0,0,0,0.2);
  margin-bottom: 20px;
  .half {
    padding: 12px;
    font-family: Poppins;
    font-weight: bold;
    font-size: 16px;
  }
  .btn {
    height: auto;
    margin-top: 12px;
  }
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.panel-body {
  padding-top: 0;
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.h-divider{
   margin-top:5px;
   margin-bottom:5px;
   height:1px;
   width:100%;
   border-top:1px solid gray;
}
