
@import "components/colors";

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 100px;
  margin-top: 45px;
  padding-top: 5px;
  // padding-right: 45px;
  border-top: 1px solid #eaeaea;
  background-color: $dark-blue;
  color: white;
  a {
    color: white;
    &:hover {
      color: white;
      decoration: none;
    }
  }
  .footer-copyright {
    padding: 10px;
    #copyright {
      font-size: 12px;
    }
  }
}
