@import "components/colors";

.frames-page {
     .banner {
          background-color: #eeeae7;
          .banner-img {
               padding: 0;
          }
          .banner-desc {
               padding: 40px;
               p {
                    margin-top:10px;
                    margin-bottom: 10px;
                    font-size: 20px;
                    font-weight: 300;
               }
          }
     }
     .section-2 {
          margin-top: 100px;
          .section-2-desc {
               p {
                    font-size: 20px;
                    font-weight: 300;
               }
          }
          @media (min-width: 1000px) {
               .section-2-desc {
                    padding-right: 100px;
                    padding-left: 50px;
               }
               #section-2-left-img {
                    padding-left: 100px;
               }
               #section-2-right-img {
                    margin-top: -200px;
                    padding-right: 100px;
               }
          }
     }

     .diff-ways-big-div {
          margin:30px;
          h1 {
               margin: 30px;
          }
          .close-ups {
               margin: 30px;
               h3.frame-type-title {
                    padding: 10px;
               }
               img.diff_ways {
                    margin-bottom: 30px;
                    max-height: 300px;
                    width: auto;
               }
          }
     }

     .style-desc-container {
          margin-bottom: 40px;
          .style-desc-card {
               background-color: $lightest-beige;
               padding: 30px;
          }
          @media (max-width: 1000px) {
               .style-desc-card {
                    margin: 20px;
                    p {
                         font-size: 25px;
                         font-weight: 300;
                    }
               }
               .desc-header {
                    text-align: center;
               }
               .crop {
                    width: 400px;
                    overflow: hidden;
                    img {
                         margin-top: -150px;
                    }
               }
          }
          @media(min-width: 1000px) {
               .desc-header {
                    padding: 50px;
               }
               .style-desc-card {
                    padding: 50px;
                    p {
                         font-size: 35px;
                         font-weight: 200;
                    }
               }
               .crop {
                    img {
                         margin-top: -40px;
                         padding-left: 50px;
                    }
               }
          }
     }
}


