@import "components/colors";


.navbar {
  background-color: $dark-blue;
}

.navbar-inverse .navbar-nav {
  .glyphicon{
    font-size: 25px;
    color:white;
  }
  ul {
    background-color: $dark-blue;
    padding-bottom: 5px;
  }
  li {
    background-color: $dark-blue;
      a {
        color: #F8F5F4;
        font-family: Poppins;
        &:hover {
          background-color: $dark-blue;
          color: #d3f1f8;
        }
      }
      a.glyphicon {
        font-family: 'Glyphicons Halflings';
      }
  }
}


//This class is used for the English navbar
.navbar-right {
  float: right;
  padding-right: 10px;
  li.horizontal-item {
    float: left;
    a {
      display: block;
      padding-right: 10px;
      padding-left: 10px;
    }
  }
}


//This class is used for the Arabic Navbar
.navbar-left {
  float: left;
  padding-left: 10px;
  li.horizontal-item {
    float: right;
    a {
      display: block;
      padding-right: 10px;
      padding-left: 10px;
    }
  }

}

//navbar-lower. The common part between the wide screen and the narrow one
.navbar-lower {
  background-color: #F8F5F4;
  border-top: 0;
  border-bottom:1px solid #eee;
  img {
    width: 200px;
  }
  padding-bottom: 30px;
}

.navbar-lower.hidden-xs {
  .navbar-brand {
    margin-left: 30px;
  }
}


.navbar-lower.visible-xs{
  margin-bottom: 0;
  padding-left: 5px;
  padding-right: 5px;
  .navbar-toggle {
    float: left !important;
    border: 0;
    margin-top: 0;
  }
  .glyphicon{
    padding-top: 9px;
    font-size: 18px;
    color: black;
    float: right;
    padding-right: 10px;
  }
  .navbar-brand  {
    padding: 0;
    padding-top: 9px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    img {
      margin-left:0;
      width: 150px;
      padding-bottom: 5px;
    }
  }
}


