.photo-row {
  padding: 10px;
  border-bottom: 1px solid #E6E3E2;
  padding-bottom: 20px;
}
.bold_frame {
	border: 7px solid black;
	background-color: white;
	-webkit-box-shadow: -8px 10px 52px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: -8px 10px 52px 1px rgba(0,0,0,0.75);
	box-shadow: -8px 10px 52px 1px rgba(0,0,0,0.75);

}
.ever_frame {
	border: 7px solid white;
	// background-color: white;
	padding: 5px;
	// box-shadow: 0rem 0.4rem 1.2rem -0.2rem rgba(0,0,0,0.2);
	-webkit-box-shadow: -8px 10px 52px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: -8px 10px 52px 1px rgba(0,0,0,0.75);
	box-shadow: -8px 10px 52px 1px rgba(0,0,0,0.75);
}
.clean_frame {
	border: 10px solid white;
	background-color: white;
	// box-shadow: 0rem 0.4rem 1.2rem -0.2rem rgba(0,0,0,0.2);
	-webkit-box-shadow: -8px 10px 52px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: -8px 10px 52px 1px rgba(0,0,0,0.75);
	box-shadow: -8px 10px 52px 1px rgba(0,0,0,0.75);
}
.classic_frame {
	border: 10px solid black;
	background-color: white;
	padding: 5px;
	// box-shadow: 0rem 0.4rem 1.2rem -0.2rem rgba(0,0,0,0.2);
	-webkit-box-shadow: -8px 10px 52px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: -8px 10px 52px 1px rgba(0,0,0,0.75);
	box-shadow: -8px 10px 52px 1px rgba(0,0,0,0.75);
}
