.prints-page {
     .banner {
          background-color: #eeeae7;
          .banner-img {
               padding: 0;
          }
          .banner-desc {
               padding: 40px;
               p {
                    margin-top:10px;
                    margin-bottom: 10px;
                    font-size: 20px;
                    font-weight: 300;
               }
          }
     }
     .banner-container {
          margin-top: 50px;
          background-image: url('prints-banner.jpg');
          background-size: cover;
          background-position: center;
          height: 400px;
          @media(max-width: 1000px) {
               height: 400px;
          }
     }
}
