.size-guide-content {
     background-color: #F8F5F4;
     .modal-header {
          border-bottom: 0;
          padding-bottom: 0;
     }
     .modal-body {
          padding-top: 0;
     }
}

.scrolling-wrapper {
     overflow-x: scroll;
     overflow-y: hidden;
     white-space: nowrap;
     padding-bottom: 15px;
     .photo-example {
       display: inline-block;
       img {
          width: 180px;
          height: 200px;
          padding: 10px;
       }
     }
     .description {
          text-align: center;
     }
}


