// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "components/colors";

.marketing-image-container{
     background-image: url('background1.jpg');
     background-size: cover;
     height: 600px;
     @media(max-width: 1000px) {
          height: 400px;
     }
}
.home-uvp-container {
     margin-top: -19px;
     @media(min-width: 1000px) {
          display: flex;
          align-items: center;
          // margin-left: -120px;
          // margin-top: -15px;
          // margin-right: -120px;
     }
}
.marketing-message {
     padding: 40px;
     background-color: #eeeae7;
     h2 {
          font-family: Poppins, sans-serif;
          margin-bottom: 30px;
     }
     p.main-message {
          font-size: 14px;
          line-height: 1.5;
          color: $dark-blue;
          margin-bottom: 30px;
     }
     p.upper-title {
          font-size: 16px;
          font-weight: 700;
     }
     @media(max-width: 1000px) {
          margin-top: -100px;
     }
     @media(min-width: 1200px) {
          margin-top: -550px;
     }
}
.products-container {
     margin-top: 20px;
     .half {
          padding: 0;
     }
}
.card {
     padding:0;
     padding-top: 20px;
     margin-bottom: 20px;
     .card-image {
          img {
               width: 100%;
          }
          padding: 0;
     }
     .card-info {
          // padding-top: 10px;
          padding-bottom: 10px;
          background-color: #eeeae7;
          @media(max-width: 1000px) {
               margin-top: -50px;
          }
     }
     .card-price {
          color: #9a9795;
          margin-top: 10px;
     }
}

