<!-- Footer -->
<footer class="footer font-small blue pt-4">

  <!-- Footer Links -->
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    <div><%= t('footer.have_questions')%></div>
    <span style="font-weight: 700;"><%= t('footer.call_us')%></span>
    <div id="copyright" style="padding-top: 10px">©2021 printpicsnow.com</div>
  </div>
  <!-- Copyright -->

</footer>
