<header class="navbar navbar-fixed-top navbar-inverse hidden-xs">
  <div class="container">
      <ul class="nav navbar-nav navbar-right pull-right">
        <% if current_user && !current_user.guest? %>
            <li class="dropdown horizontal-item">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= current_user.name + " " %><b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to t("header.account_settings_link"), edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to t("header.log_out"), logout_path, method: :delete %>
                </li>
              </ul>
            </li>

            <li class="horizontal-item"><%= link_to "", cart_path, { :class => "glyphicon glyphicon-shopping-cart"} %></li>
      <% else %>
            <li class="horizontal-item"><%= link_to t('header.log_in'), login_path %></li>
            <li class="horizontal-item"><%= link_to t('header.register'), signup_path %></li>
            <li class="horizontal-item"><%= link_to "", cart_path, { :class => "glyphicon glyphicon-shopping-cart"} %></li>
      <% end %>
      </ul>
  </div>
</header>



<header class="navbar navbar-fixed-top navbar-inverse visible-xs">
</header>


<nav class="navbar navbar-lower navbar-default hidden-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to(root_path, :class=> "navbar-brand" ) do %>
         <%= image_tag("new-logo.svg")  %>
      <% end %>
    </div>
  </div>
</nav>


<nav class="navbar navbar-lower navbar-default visible-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to(root_path, :class=> "navbar-brand" ) do %>
         <%= image_tag("new-logo.svg")  %>
      <% end %>

      <%= link_to "", cart_path, { :class => "glyphicon glyphicon-shopping-cart"} %>
    </div>

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <% if current_user && !current_user.guest? %>
            <li><%= link_to t("header.account_settings_link"), edit_user_path(current_user) %></li>
            <li><%= link_to t("header.log_out"), logout_path, method: :delete %></li>
        <% else %>
            <li><%= link_to t('header.log_in'), login_path %></li>
            <li><%= link_to t('header.register'), signup_path %></li>
        <% end %>
      </ul>
    </div>

  </div>
</nav>
