<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header pull-right">
      <%= link_to "Printpicsnow!".html_safe, root_path,  class: "navbar-brand", id: "logo" %>
    </div>
      <ul class="nav navbar-nav navbar-left pull-left">


        <% if logged_in? %>

          <li class="dropdown horizontal-item">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
               <%= current_user.name + " " %><b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t("header.account_settings_link"), edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to t("header.log_out"), logout_path, method: :delete %>
              </li>
            </ul>
          </li>

        <li class="horizontal-item"><%= link_to "", cart_path, { :class => "glyphicon glyphicon-shopping-cart"} %></li>
        <% else %>
          <li class="horizontal-item"><%= link_to t('header.log_in'), login_path %></li>
          <li class="horizontal-item"><%= link_to t('header.register'), signup_path %></li>
          <% if I18n.locale == :en %>
               <li class="horizontal-item"><%= link_to 'عربي', root_path(locale: :ar) %></li>
          <% else %>
               <li class="horizontal-item"><%= link_to 'English', root_path(locale: :en) %></li>
          <% end %>
        <% end %>
      </ul>
  </div>
</header>
